a {
    border: 2px solid black;
    font-size: 20px;
}
.name {
    float: right;
}
nav {
    background-color: pink;
}
body {
    background-color: beige;
    
}
img {
    width: 300px;
    height: auto;
}
h1{
    text-align: center;
}
.singleCategory {
   border: 2px solid black ;
   margin: 5px;
   padding: 10px;
   background-color:lemonchiffon;
}
.allCategories{
    display: flex;
}
footer {
    background-color: pink;
    text-align: center;
}
